<<<<<<< HEAD
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.snippets{
    border-style:dashed;
    border-width: 2px;
    border-color: black;
}
=======
* {
  margin: 0;
  padding: 0%;
}

body {
  background: rgb(0, 0, 34);
  width: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header h1 {
  text-align: center;
  font-size: 200%;
  color: darkorchid;
  padding: 15px;
}

.sub-title {
  text-align: center;
  font-size: 80%;
  color: white;
  width: 50%;

}
>>>>>>> 156811cc380a92f81a1fae70e49c93037adfba1a
